{% extends 'base/main.html' %}
{% block content %}

<div class="header-bar">
    <div>
        <h1>Hello, {{ request.user|title }}</h1>
        <h3 style="margin: 0;">You have <i>{{ count }}</i> incomplete task{{ count|pluralize }}</h3>
    </div>
    <div>

        {% if request.user.is_authenticated %}

        <form method="POST" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit" style="background:none; border:none; padding:0; color:rgb(11, 14, 15);">
                logout
            </button>
        </form>
        {% else %}
        <a href="{% url 'login' %}">Login</a>
        {% endif %}
    </div>
</div>

<div id="search-add-wrapper">
    <form method="GET" style="display: flex;">
        <input type="text" name="search-area" placeholder="Search your task" value="{{ search_input }}">
        <input class="button" type="submit" value="Search">
    </form>
    <a id="add-link" href="{% url 'task-create' %}">&#x2b;</a>
</div>

<hr>


<div id="tasklist" class="task-items-wrapper">
    {% for task in tasks %}
    <div class="task-wrapper" data-position="{{task.pk}}">
        <div class="task-title">
            {% if task.complete %}
            <div class="task-complete-icon"></div>
            <i><s><a href="{% url 'task-update' task.id %}">{{task.title}}</a></s></i> {% else %}
            <div class="task-incomplete-icon"></div>
            <a href="{% url 'task-update' task.id %}">{{task.title}}</a> {% endif %}
        </div>
        <div class="task-controls">
            <a class="delete-link" href="{% url 'task-delete' task.id %}">&#215;</a>
            <span class="handle">&nbsp;&#10247;</span>
        </div>
    </div>

    {% empty %}
    <div style="text-align: center; padding-bottom: 10px; line-height: 1em;">
        <h3>No new tasks are created.</h3>
        <h3>Create a <a style="text-decoration: none; color: #6a94bb;" href="{% url 'task-create' %}">New task</a> ! </h3>
    </div>
    {% endfor %}
</div>

{% endblock content %}
